.form {
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;

    -fx-background-color: #2F3032;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0.1, 0, 5);
}

/* ----- Labels Styles --------------------------*/
.form-label-field {
    -fx-font: 14px sans-serif;
    -fx-text-fill: #F3F9F5;
    -fx-wrap: true;
    -fx-padding: 0px 0px 5px 0px;
}

.form-error {
    -fx-font: 14px sans-serif;
    -fx-text-fill: #FF6F6F;
    -fx-wrap: true;
    -fx-padding: 0px 0px 5px 0px;
}

.form-title {
    -fx-font: 22px sans-serif;
     -fx-text-fill: #F3F9F5;
}

.form-context-field {
    -fx-font: 14px sans-serif;
    -fx-text-fill: #a3a3a3;
    -fx-padding: 0px 0px 5px 10px;
}

.form-text-required-field {
    -fx-font: 14px sans-serif;
    -fx-text-fill: #FF6F6F;
}

/* ---------------- Header, Body & Footer -------------------------- */
.form-header, .form-footer, .form-body {
    -fx-padding: 5px 15px 5px 15px;
    -fx-spacing: 5px;
}

/* ----------------- Buttons ---------------------------------- */
.button {
    -fx-font: 16px sans-serif;
    -fx-text-fill: #F3F9F5;
}

.form-close-button {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;

    -fx-background-color: transparent;
    -fx-padding: 0px;
    -fx-margin: 0px;
    -fx-font-size: 8px;
    -fx-text-fill: #F3F9F5;
}

.form-close-button:hover {
    -fx-background-claro: red;
    -fx-cursor: hand;
}

.form-send-button {
    -fx-background-color: #3A6F41; /* Verde oscuro */
    -fx-text-fill: #F3F9F5; /* Texto claro */
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.form-custom-field {
    -fx-background-color: #404040; /* Fondo oscuro */
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-pref-height: 33px;
    -fx-min-height: 33px;
    -fx-max-height: 33px;
    -fx-padding: 3px 10px 3px 10px;
    -fx-text-fill: #F3F9F5;
    -fx-margin: 0px 0px 5px 0px;
}

.required {
    -fx-border-color: #FF6F6F; /* Bordes en rojo brillante */
}

.required > .icon{
    -fx-fill: #FF6F6F; /* Rojo vibrante para resaltar */
    -fx-text-fill: #FF6F6F; /* Rojo vibrante para resaltar */
}

.form-context-field {
    -fx-fill: #A0A0A0; /* Texto contextual más claro */
    -fx-font-size: 12px;
}

.icon {
    -fx-fill: #F3F9F5; /* Iconos claros */
}

.combo-box .list-view, .combo-box .list-cell {
    -fx-font: 12px sans-serif;
    -fx-text-fill: #F3F9F5; /* Texto claro */
    -fx-fill: #F3F9F5;
    -fx-background-color: #404040; /* Fondo oscuro */
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.scroll-bar .track {
    -fx-background-color: transparent;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: #F3F9F5; /* Color claro */
    -fx-background-insets: 2;
}

.scroll-bar {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-background-color: #F3F9F5; /* Color claro */
}

.focused .icon {
    -fx-fill: #3A6F41; /* Verde oscuro para íconos enfocados */
}
