.form {
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-background-color: #FFFFFF;
}

/* ----- Labels Styles --------------------------*/
.form-label-field {
    -fx-font: 14px sans-serif;
    -fx-text-fill: #333333;
    -fx-wrap: true;
    -fx-padding: 0px 0px 5px 0px;
}

.form-context-field {
    -fx-font: 14px sans-serif;
    -fx-text-fill: #666666;
    -fx-padding: 0px 0px 5px 10px;
}

.form-text-required-field {
    -fx-font: 14px sans-serif;
    -fx-text-fill: #D32F2F;
}

.form-error {
    -fx-font: 14px sans-serif;
    -fx-text-fill: #D32F2F;
    -fx-wrap: true;
    -fx-padding: 0px 0px 5px 0px;
}

.form-title {
    -fx-font: 22px sans-serif;
    -fx-text-fill: #333333;
}

/* ---------------- Header, Body & Footer -------------------------- */
.form-header, .form-footer, .form-body {
    -fx-padding: 5px 15px 5px 15px;
}

/* ----------------- Buttons ---------------------------------- */
.button {
    -fx-font: 16px sans-serif;
    -fx-text-fill: #333333;
}

.form-close-button {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-background-color: transparent;
    -fx-padding: 0px;
    -fx-margin: 0px;
    -fx-font-size: 8px;
    -fx-text-fill: #333333;
}

.form-close-button:hover {
    -fx-background-color: red;
    -fx-cursor: hand;
}

.form-send-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-pref-width: 150px;
}

/* -------------------- Fields ---------------------------*/
.custom-field {
    -fx-background-color: #F5F5F5;
    -fx-border-width: 1px;
    -fx-border-color: #CCCCCC;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-pref-height: 33px;
    -fx-min-height: 33px;
    -fx-padding: 5px 10px 5px 10px;
    -fx-text-fill: #333333;
}

.form-field-container {
    -fx-padding: 0px 0px 8px 0px;
}

.text-field,
.check-box,
.combo-box{
    -fx-text-fill: #333333;
    -fx-font: 14px sans-serif;
}

.required {
    -fx-border-color: #D32F2F;
}

.required > .icon{
    -fx-fill: #D32F2F;
    -fx-text-fill: #D32F2F;
}

.icon {
    -fx-fill: #333333;
}

.combo-box .list-view, .combo-box .list-cell {
    -fx-font: 12px sans-serif;
    -fx-text-fill: #333333;
    -fx-fill: #333333;
    -fx-background-color: transparent;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.scroll-bar .track {
    -fx-background-color: #E0E0E0;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-min-height: 0px;
    -fx-max-height: 0px;
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: #A0A0A0;
    -fx-background-insets: 2;
}

.scroll-bar {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: none;
    -fx-background-color: transparent;
}

.focused .icon {
    -fx-fill: #4CAF50;
}
