.message {
    -fx-background-color: #B4E4FF;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.1, 0, 5);
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-spacing: 10px;
}

.message-indicator {
    -fx-background-color: #51B0ED;
    -fx-border-radius: 8px 0px 0px 8px;
    -fx-background-radius: 8px 0px 0px 8px;

    -fx-max-width: 10px;
    -fx-min-width: 10px;
    -fx-pref-width: 10px;
}

.message-container-context {
    -fx-spacing: 3px;
}

.message-context, .message-title {
    -fx-text-fill: #005C8F;
}

.message-title {
    -fx-font-size: 16px;
}

.message-context {
    -fx-font-size: 14px;
}

.message-close-button {
    -fx-text-fill: #005C8F;
}

.message-close-button .icon {
     -fx-fill: #005C8F;
}
