#messageBody {
    -fx-background-color: #F6FFB4;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.1, 0, 5);
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

#alertPane {
    -fx-background-color: #E3ED51;
    -fx-border-radius: 8px 0px 0px 8px;
    -fx-background-radius: 8px 0px 0px 8px;
}

#messageBody .label{
    -fx-text-fill: #696C01;
    -fx-wrap-text: true;
}

#messageTitle{
    -fx-font-size: 16px;
}

#messageContext{
    -fx-font-size: 14px;
}

#buttonCloseMessage {
    -fx-background-color: transparent;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-text-fill: #696C01;
}
